<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista sa nestalima</title>
  </head>

  <body>
    <div class="card" (click)="this.goToProfile()">
      <div class="card-title">Slika Nestale Osoba</div>
      <div class="card-image">
        <img [src]="missingReportImage" alt="Slika nestale osobe" />
      </div>
      <div class="card-content">
        <div class="card-section">
          <h3>Ime nestale osobe</h3>
          <p [innerHTML]="missingRecordName"></p>
        </div>
        <div class="card-section">
          <h3>Prezime nestale osobe</h3>
          <p [innerHTML]="missingRecordLastName"></p>
        </div>
        <div class="card-section">
          <h3>Informacije o nestanku</h3>
          <p [innerHTML]="missingRecordReport"></p>
        </div>
        <div class="card-section">
          <h3>Opis nestale osobe</h3>
          <p [innerHTML]="missingReportDescription"></p>
        </div>
      </div>
    </div>
  </body>
</html>
